<div class="container">
    <div class="well todos">
        <ul>
            {{> add}}
            {{#each todos}}
            {{> todo this}}
            {{/each}}
        </ul>
        {{>footer}}
    </div>
</div>